<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>Filter.RoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>AvatarServlet</servlet-name>
        <servlet-class>Controller.AvatarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>Controller.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterInformation</servlet-name>
        <servlet-class>Controller.RegisterInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientInfo</servlet-name>
        <servlet-class>Controller.PatientInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHompageServlet</servlet-name>
        <servlet-class>Controller.UserHompageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingPageServlet</servlet-name>
        <servlet-class>Controller.BookingPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocterScheduleServlet</servlet-name>
        <servlet-class>Controller.DocterScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmServlet</servlet-name>
        <servlet-class>Controller.ConfirmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InputMedicalReportServlet</servlet-name>
        <servlet-class>Controller.InputMedicalReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitMedicalReportServlet</servlet-name>
        <servlet-class>Controller.SubmitMedicalReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorAppointmentsServlet</servlet-name>
        <servlet-class>Controller.DoctorAppointmentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportMedicalReportServlet</servlet-name>
        <servlet-class>Controller.ExportMedicalReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicalReportDetailServlet</servlet-name>
        <servlet-class>Controller.MedicalReportDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmRelativeServlet</servlet-name>
        <servlet-class>Controller.ConfirmRelativeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AvatarServlet</servlet-name>
        <url-pattern>/AvatarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterInformation</servlet-name>
        <url-pattern>/RegisterInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientInfo</servlet-name>
        <url-pattern>/PatientInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHompageServlet</servlet-name>
        <url-pattern>/UserHompageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingPageServlet</servlet-name>
        <url-pattern>/BookingPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocterScheduleServlet</servlet-name>
        <url-pattern>/DocterScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmServlet</servlet-name>
        <url-pattern>/ConfirmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InputMedicalReportServlet</servlet-name>
        <url-pattern>/InputMedicalReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitMedicalReportServlet</servlet-name>
        <url-pattern>/SubmitMedicalReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorAppointmentsServlet</servlet-name>
        <url-pattern>/DoctorAppointmentsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportMedicalReportServlet</servlet-name>
        <url-pattern>/ExportMedicalReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicalReportDetailServlet</servlet-name>
        <url-pattern>/MedicalReportDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmRelativeServlet</servlet-name>
        <url-pattern>/ConfirmRelativeServlet</url-pattern>
    </servlet-mapping>
</web-app>
